.left{
    background-color: var(--clr-primary-800);
    padding: 2.5em;
    border-radius: 20px 0 0 20px;
    width: 35ch;
    h1{
        font-family: var(--ff-heading);
    }
    form{
        #submit{
            margin-top: 0.8em;
            padding: 0.5em;
            background-color: var(--clr-primary-600);
            font-family: var(--ff-body);
            border: 1px solid var(--clr-GScale-500);
            border-radius: 5px;
            transition: 0.3s;
        }
        #submit:hover {
            background-color: var(--clr-primary-400);
            color: var(--clr-GScale-100);
            border: 1px solid var(--clr-GScale-100);
        }
    }
}
.right{
    width: 35ch;
    background-color: var(--clr-secondary-900);
    padding: 2.5em;
    border-radius: 0 20px 20px 0;
    #results{
        #Warn{
            color: #ff0000;
        }
    }
}

@media screen and (max-width: 800px){
    .left{
        border-radius: 20px 20px 0 0;
        width: auto;
    }
    .right{
        border-radius: 0 0 20px 20px;
        width: auto;
    }
    
}